@model CleanArch.Application.ViewModels.UserViewModel

@{
	ViewData["Title"] = "Register new User";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
	<div class="form-horizontal">
		<hr />

		<vc:summary />

		<div class="form-group">
			<label asp-for="FirstName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="LastName" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Email" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Password" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="AccountType" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="AccountType" class="form-control" />
				<span asp-validation-for="AccountType" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-success" />
				<a asp-action="Index" class="btn btn-info">Back to List</a>
			</div>
		</div>
	</div>
</form>